In [37]:
import pandas as pd
import gspread as gs
import datetime as dt
import pandas_datareader as web

In [40]:
gc = gs.service_account(filename='testdashboard1-be5a120e4282.json')
sheet1 = gc.open("LITGTransaction")

ws = sheet1.worksheet('LITGTrans')
df = pd.DataFrame(ws.get_all_records())
df

    transaction_number ticker  quantity        date action       sector
0                    1    ABB       258  04/25/2022    BUY  INDUSTRIALS
1                    2   AAPL        50  04/25/2022    BUY          TMT
2                    3    BLK        20  04/25/2022    BUY    FINANCIAL
3                    4    DFS        42  04/25/2022    BUY    FINANCIAL
4                    5    EOG        66  04/25/2022    BUY       ENERGY
5                    6     HD        25  04/25/2022    BUY  INDUSTRIALS
6                    7    JPM        56  04/25/2022    BUY    FINANCIAL
7                    8    KGC      1340  04/25/2022    BUY       ENERGY
8                    9   MBUU       116  04/25/2022    BUY     CONSUMER
9                   10    MCD        94  04/25/2022    BUY     CONSUMER
10                  11    MDT        46  04/25/2022    BUY   HEALTHCARE
11                  12   MSFT       209  04/25/2022    BUY          TMT
12                  13   NVDA        40  04/25/2022    BUY          TMT
13                  14    PTC        79  04/25/2022    BUY          TMT
14                  15   REGN         6  04/25/2022    BUY   HEALTHCARE
15                  16     SE        38  04/25/2022    BUY     CONSUMER
16                  17    SRE        43  04/25/2022    BUY       ENERGY
17                  18   SOFI       600  04/25/2022    BUY    FINANCIAL
18                  19    UNH        14  04/25/2022    BUY   HEALTHCARE
19                  20    VLD      1250  04/25/2022    BUY  INDUSTRIALS
20                  21  GOOGL       100   6/16/2022    BUY          TMT

In [41]:
print(df.columns)

Index(['transaction_number', 'ticker', 'quantity', 'date', 'action', 'sector'], dtype='object')

In [48]:
temp = web.DataReader(n.ticker, "yahoo", n.date, dt.date.today())

In [50]:
totalFundValue = pd.DataFrame()
totalFundValue['Cash'] = 156054.73

for n in df.iloc:
    if n.action == "BUY":
        totalFundValue[n.ticker] = temp['Close']*n.quantity
        totalFundValue['Cash'] = totalFundValue['Cash'] - totalFundValue[n.ticker]
        
    elif n.action == "SELL":
        totalFundValue['Cash'] = totalFundValue['Cash'] + web.DataReader(n.ticker, "yahoo", n.date, dt.date.today())['Close']*n.quantity
#         del df[n.ticker]
        
totalFundValue.head()

,Cash,ABB,AAPL,BLK,DFS,EOG,HD,JPM,KGC,MBUU,...,MSFT,NVDA,PTC,REGN,SE,SRE,SOFI,UNH,VLD,GOOGL
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-16,NaN,27356.643173,5301.675034,2120.670013,4453.407028,6998.211044,2650.837517,5937.876038,142084.890900,12299.886078,...,22161.001640,4241.340027,8376.646553,636.201004,4029.273026,4559.440529,63620.100403,1484.469009,132541.875839,10603.350067
2022-06-17,NaN,27643.023331,5357.175064,2142.870026,4500.027054,7071.471085,2678.587532,6000.036072,143572.291718,12428.646149,...,22392.991768,4285.740051,8464.336601,642.861008,4071.453049,4607.170555,64286.100769,1500.009018,133929.376602,10714.350128
2022-06-21,NaN,28778.351669,5577.199936,2230.879974,4684.847946,7361.903915,2788.599968,6246.463928,149468.958282,12939.103851,...,23312.695732,4461.759949,8811.975899,669.263992,4238.671951,4796.391945,66926.399231,1561.615982,139429.998398,11154.399872
2022-06-22,NaN,28763.775787,5574.375153,2229.750061,4682.475128,7358.175201,2787.187576,6243.300171,149393.254089,12932.550354,...,23300.888138,4459.500122,8807.512741,668.925018,4236.525116,4793.962631,66892.501831,1560.825043,139359.378815,11148.750305
2022-06-23,NaN,28958.435165,5612.099838,2244.839935,4714.163864,7407.971786,2806.049919,6285.551819,150404.275665,13020.071625,...,23458.577324,4489.679871,8867.117744,673.451981,4265.195877,4826.405861,67345.198059,1571.387955,140302.495956,11224.199677

In [51]:
totalFundValue['Sum'] = totalFundValue[list(totalFundValue.columns)].sum(axis=1) 
totalFundValue['Cash'] = 156054.73
totalFundValue['Total'] = totalFundValue['Sum']+totalFundValue['Cash']
totalFundValue.head()

,Cash,ABB,AAPL,BLK,DFS,EOG,HD,JPM,KGC,MBUU,...,PTC,REGN,SE,SRE,SOFI,UNH,VLD,GOOGL,Sum,Total
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-16,156054.73,27356.643173,5301.675034,2120.670013,4453.407028,6998.211044,2650.837517,5937.876038,142084.890900,12299.886078,...,8376.646553,636.201004,4029.273026,4559.440529,63620.100403,1484.469009,132541.875839,10603.350067,476302.485016,632357.215016
2022-06-17,156054.73,27643.023331,5357.175064,2142.870026,4500.027054,7071.471085,2678.587532,6000.036072,143572.291718,12428.646149,...,8464.336601,642.861008,4071.453049,4607.170555,64286.100769,1500.009018,133929.376602,10714.350128,481288.607758,637343.337758
2022-06-21,156054.73,28778.351669,5577.199936,2230.879974,4684.847946,7361.903915,2788.599968,6246.463928,149468.958282,12939.103851,...,8811.975899,669.263992,4238.671951,4796.391945,66926.399231,1561.615982,139429.998398,11154.399872,501055.642242,657110.372242
2022-06-22,156054.73,28763.775787,5574.375153,2229.750061,4682.475128,7358.175201,2787.187576,6243.300171,149393.254089,12932.550354,...,8807.512741,668.925018,4236.525116,4793.962631,66892.501831,1560.825043,139359.378815,11148.750305,500801.863708,656856.593708
2022-06-23,156054.73,28958.435165,5612.099838,2244.839935,4714.163864,7407.971786,2806.049919,6285.551819,150404.275665,13020.071625,...,8867.117744,673.451981,4265.195877,4826.405861,67345.198059,1571.387955,140302.495956,11224.199677,504191.049469,660245.779469