In [1]:
import pandas as pd
import gspread as gs
import datetime as dt
import pandas_datareader as web

In [2]:
gc = gs.service_account(filename='testdashboard1-be5a120e4282.json')
sheet1 = gc.open("LITGTransaction")

ws = sheet1.worksheet('LITGTrans')
df = pd.DataFrame(ws.get_all_records())
df.head()

   transaction_number ticker  quantity        date action        sector
0                   1    ABB       258  04/25/2022     BUY  INDUSTRIALS
1                   2   AAPL        50  04/25/2022     BUY          TMT
2                   3    BLK        20  04/25/2022     BUY    FINANCIAL
3                   4    DFS        42  04/25/2022     BUY    FINANCIAL
4                   5    EOG        66  04/25/2022     BUY       ENERGY

In [3]:
# gc = gs.service_account(filename='testdashboard1-be5a120e4282.json')
# sheet1 = gc.open("LITGTransaction")

# ws = sheet1.worksheet('LITGTrans')
# df = pd.DataFrame(ws.get_all_records())
# df.head()

# tickers1 = df.ticker.unique()

# tcrs = web.DataReader(tickers1, "yahoo", '2022-04-25', dt.date.today())['Close']
# tcrs.head()

In [23]:
dat = pd.DataFrame()

for n in df.iloc:
#     totals = web.DataReader(n.ticker, "yahoo", n.date, dt.date.today())['Close']*n.quantity
    dat[n.ticker] = web.DataReader(n.ticker, "yahoo", n.date, dt.date.today())['Close']*n.quantity
    
#     print(n.ticker, n.quantity)
dat.head()

,ABB,AAPL,BLK,DFS,EOG,HD,JPM,KGC,MBUU,MCD,MDT,MSFT,NVDA,PTC,REGN,SE,SRE,SOFI,UNH,VLD
Date,,,,,,,,,,,,,,,,,,,,
2022-04-25,7995.419941,8144.000244,13365.600586,4730.879974,7376.819778,7623.500061,7099.119812,7128.800230,6025.039841,23770.720459,5036.080154,58670.480255,7960.800171,7892.100121,4141.980103,3401.759872,7111.340210,3930.000114,7339.780273,5500.000119
2022-04-26,7690.979862,7840.000153,12940.999756,4594.379974,7364.939758,7498.999786,6889.119812,6807.199898,5718.799911,23366.520172,4911.879944,56475.980255,7515.200195,7732.519783,4048.920044,3165.779907,7070.920105,3773.999977,7192.920410,4799.999893
2022-04-27,7652.279961,7828.500366,12860.400391,4494.420090,7445.459839,7540.000153,6799.519897,6767.000256,5718.799911,23231.159943,4904.979874,59192.980255,7365.999756,7711.980217,4041.060059,3135.759872,7038.670105,3690.000057,7193.339966,4537.500143
2022-04-28,7799.339882,8181.999969,13019.399414,4871.160141,7772.819778,7794.000244,6907.039795,6874.200153,5862.640106,23893.860229,4928.900070,60532.671021,7912.800293,9036.809952,4053.480103,3218.599884,7116.500000,3869.999886,7341.879761,4612.500072
2022-04-29,7706.460217,7882.499695,12493.599854,4723.319962,7706.160141,7509.999847,6684.160034,6807.199898,5833.640106,23421.040344,4800.560028,58001.677704,7418.800049,9022.589928,3954.659912,3144.880081,6938.480026,3671.999931,7119.699829,4375.000000

In [24]:
dat['Sum'] = dat[list(dat.columns)].sum(axis=1) 
dat['Cash'] = 156054.73
dat['Total'] = dat['Sum']+dat['Cash']
dat.head()

,ABB,AAPL,BLK,DFS,EOG,HD,JPM,KGC,MBUU,MCD,...,PTC,REGN,SE,SRE,SOFI,UNH,VLD,Sum,Cash,Total
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-25,7995.419941,8144.000244,13365.600586,4730.879974,7376.819778,7623.500061,7099.119812,7128.800230,6025.039841,23770.720459,...,7892.100121,4141.980103,3401.759872,7111.340210,3930.000114,7339.780273,5500.000119,204244.222320,156054.73,360298.952320
2022-04-26,7690.979862,7840.000153,12940.999756,4594.379974,7364.939758,7498.999786,6889.119812,6807.199898,5718.799911,23366.520172,...,7732.519783,4048.920044,3165.779907,7070.920105,3773.999977,7192.920410,4799.999893,197400.059597,156054.73,353454.789597
2022-04-27,7652.279961,7828.500366,12860.400391,4494.420090,7445.459839,7540.000153,6799.519897,6767.000256,5718.799911,23231.159943,...,7711.980217,4041.060059,3135.759872,7038.670105,3690.000057,7193.339966,4537.500143,199149.811110,156054.73,355204.541110
2022-04-28,7799.339882,8181.999969,13019.399414,4871.160141,7772.819778,7794.000244,6907.039795,6874.200153,5862.640106,23893.860229,...,9036.809952,4053.480103,3218.599884,7116.500000,3869.999886,7341.879761,4612.500072,205600.600753,156054.73,361655.330753
2022-04-29,7706.460217,7882.499695,12493.599854,4723.319962,7706.160141,7509.999847,6684.160034,6807.199898,5833.640106,23421.040344,...,9022.589928,3954.659912,3144.880081,6938.480026,3671.999931,7119.699829,4375.000000,199216.427586,156054.73,355271.157586